.tapa {
    padding-bottom: 10px;
    text-align: center;
}

.acciones {
    text-align: center;
}

.descripcion {
    text-align: justify;
}

.logo {
    height: 45px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jumbotron {
    text-align: center;
}

.titulo-libro {
    text-align: center;
}